In [3]:
import random
import pandas as pd
from pororo import Pororo

In [2]:
data_df = pd.read_csv("../data/train/train.tsv", sep="\t", header=None)
data_df

,0,1,2,3,4,5,6,7,8
0,wikipedia-24896-25-30-33-19-21,영국에서 사용되는 스포츠 유틸리티 자동차의 브랜드로는 랜드로버(Land Rover)...,랜드로버,30,33,자동차,19,21,단체:제작
1,wikipedia-12728-224-5-7-42-44,"선거에서 민주당은 해산 전 의석인 230석에 한참 못 미치는 57석(지역구 27석,...",민주당,5,7,27석,42,44,관계_없음
2,wikipedia-28460-3-0-7-9-12,유럽 축구 연맹(UEFA) 집행위원회는 2014년 1월 24일에 열린 회의를 통해 ...,유럽 축구 연맹,0,7,UEFA,9,12,단체:별칭
3,wikipedia-11479-37-24-26-3-5,"용병 공격수 챠디의 부진과 시즌 초 활약한 강수일의 침체, 시즌 중반에 영입한 세르...",강수일,24,26,공격수,3,5,인물:직업/직함
4,wikipedia-15581-6-0-2-32-40,람캄행 왕은 1237년에서 1247년 사이 수코타이의 왕 퍼쿤 씨 인트라팃과 쓰엉 ...,람캄행,0,2,퍼쿤 씨 인트라팃,32,40,인물:부모님
...,...,...,...,...,...,...,...,...,...
8995,wikipedia-5414-12-15-21-0-4,2002년 FIFA 월드컵 사우디아라비아와의 1차전에서 독일은 8-0으로 승리하였는...,사우디아라비아,15,21,2002년,0,4,관계_없음
8996,wikipedia-10384-4-12-14-0-1,일본의 2대 메이커인 토요타와 닛산은 시장 점유율을 높이기 위한 신차 개발을 계속하...,토요타,12,14,일본,0,1,단체:본사_국가
8997,wikipedia-25913-6-8-10-93-106,방호의의 손자 방덕룡(方德龍)은 1588년(선조 21년) 무과에 급제하고 낙안군수로...,방덕룡,8,10,선무원종공신(宣武原從功臣),93,106,인물:직업/직함
8998,wikitree-12062-15-0-3-46-47,LG전자는 올해 초 국내시장에 출시한 2020년형 ‘LG 그램’ 시리즈를 이달부터 ...,LG전자,0,3,북미,46,47,관계_없음
8999,wikitree-21265-0-16-18-20-21,전남도의회 안전건설소방위원회 차영수 의원(강진1)은 지난 14일 설 명절을 앞두고 ...,차영수,16,18,의원,20,21,인물:직업/직함

In [8]:
mt = Pororo(task="translation", lang="multi")

In [7]:
rand_idx = random.randrange(len(data_df))
rand_idx

1057

In [24]:
rand_idx = random.randrange(len(data_df))

sentence = "7월 1일 다리우스 3세가 박트리아에서 베수스에게 암살되었다."
src_lang = "ko"
tgt_lang = "en"

transed_sentence = mt(sentence, src=src_lang, tgt=tgt_lang)
origin_sentence = mt(transed_sentence, src=tgt_lang, tgt=src_lang)

print(sentence)
print(transed_sentence)
print(origin_sentence)
print(f"entity 1 : {data_df.iloc[rand_idx, 2]}")
print(f"entity 2 : {data_df.iloc[rand_idx, 5]}")

7월 1일 다리우스 3세가 박트리아에서 베수스에게 암살되었다.
On July 1, Darius III was assassinated by Beth in Austria.
지난 7월 1일에는 오스트리아에서 베스가 암살당했다.
entity 1 : 광주환경공단
entity 2 : 시장